# .gitignore
#
# Copyright 2010, 2021 Ross Angle


# Ignore all build artifacts, including Eclipse project files (which
# are built by the gradle "eclipse" task).
/bin/
/build/
/.settings/
/.classpath
/.project

# Ignore the extraneous files Gradle makes.
/.gradle/
